<!-- INCLUDE overall_header.html -->

<div id="wrap-subhead">
	<div class="chunk">
		<div class="wrap-subhead">

			<ul id="breadcrumbs" role="menubar">
				<!-- DEFINE $MICRODATA = ' itemtype="http://data-vocabulary.org/Breadcrumb" itemscope=""' -->
				<!-- EVENT overall_header_breadcrumbs_before -->
				<li class="breadcrumbs rightside">
					<!-- IF U_SITE_HOME --><span class="crumb"><a href="{U_SITE_HOME}"{$MICRODATA} data-navbar-reference="home">{L_SITE_HOME}</a></span><!-- ENDIF -->
					<!-- EVENT overall_header_breadcrumb_prepend -->
					<span class="crumb"><a href="{U_INDEX}" accesskey="h"{$MICRODATA} data-navbar-reference="index">{L_INDEX}</a></span>
					<!-- BEGIN navlinks -->
						<!-- EVENT overall_header_navlink_prepend -->
						<span class="crumb"><a href="{navlinks.U_VIEW_FORUM}"{$MICRODATA}<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->>{navlinks.FORUM_NAME}</a></span>
						<!-- EVENT overall_header_navlink_append -->
					<!-- END navlinks -->
					<!-- EVENT overall_header_breadcrumb_append -->
				</li>
				<!-- EVENT overall_header_breadcrumbs_after -->
			</ul>

		</div>

		<div id="subhead-title">
			<h2 class="faq-title">{L_FAQ_TITLE}</h2>
		</div>

	</div>
</div>

<div id="wrap-body">
	<div class="chunk">

		<div class="panel bg2" id="faqlinks">
			<div class="inner">
				<div class="column1">
				<!-- BEGIN faq_block -->
					<!-- IF faq_block.SWITCH_COLUMN or (SWITCH_COLUMN_MANUALLY and faq_block.S_ROW_COUNT == 4) -->
						</div>

						<div class="column2">
					<!-- ENDIF -->

					<dl class="faq">
						<dt><strong>{faq_block.BLOCK_TITLE}</strong></dt>
						<!-- BEGIN faq_row -->
							<dd><a href="#f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}">{faq_block.faq_row.FAQ_QUESTION}</a></dd>
						<!-- END faq_row -->
					</dl>
				<!-- END faq_block -->
				</div>
			</div>
		</div>

		<!-- BEGIN faq_block -->
			<div class="panel <!-- IF faq_block.S_ROW_COUNT is odd -->bg2<!-- ELSE -->bg1<!-- ENDIF -->">
				<div class="inner">

				<div class="content">
					<h2 class="faq-title">{faq_block.BLOCK_TITLE}</h2>
					<!-- BEGIN faq_row -->
						<dl class="faq">
							<dt id="f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}"><strong>{faq_block.faq_row.FAQ_QUESTION}</strong></dt>
							<dd>{faq_block.faq_row.FAQ_ANSWER}</dd>
						</dl>
						<!-- IF not faq_block.faq_row.S_LAST_ROW --><hr class="dashed" /><!-- ENDIF -->
					<!-- END faq_row -->
				</div>

				</div>
			</div>
		<!-- END faq_block -->

		<!-- INCLUDE jumpbox.html -->
		
	</div>
</div>

<!-- INCLUDE overall_footer.html -->
