<!-- INCLUDE overall_header.html -->

<div id="wrap-subhead">
	<div class="chunk">
		<div class="wrap-subhead">

			<ul id="breadcrumbs" role="menubar">
				<!-- DEFINE $MICRODATA = ' itemtype="http://data-vocabulary.org/Breadcrumb" itemscope=""' -->
				<!-- EVENT overall_header_breadcrumbs_before -->
				<li class="breadcrumbs rightside">
					<!-- IF U_SITE_HOME --><span class="crumb"><a href="{U_SITE_HOME}"{$MICRODATA} data-navbar-reference="home">{L_SITE_HOME}</a></span><!-- ENDIF -->
					<!-- EVENT overall_header_breadcrumb_prepend -->
					<span class="crumb"><a href="{U_INDEX}" accesskey="h"{$MICRODATA} data-navbar-reference="index">{L_INDEX}</a></span>
					<!-- BEGIN navlinks -->
						<!-- EVENT overall_header_navlink_prepend -->
						<span class="crumb"><a href="{navlinks.U_VIEW_FORUM}"{$MICRODATA}<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->>{navlinks.FORUM_NAME}</a></span>
						<!-- EVENT overall_header_navlink_append -->
					<!-- END navlinks -->
					<!-- EVENT overall_header_breadcrumb_append -->
				</li>
				<!-- EVENT overall_header_breadcrumbs_after -->
			</ul>

			<ul id="subhead-tabs">
				<!-- BEGIN l_block1 -->
				<li class="tab<!-- IF l_block1.S_SELECTED --> activetab<!-- ENDIF -->"><a href="{l_block1.U_TITLE}">{l_block1.L_TITLE}</a></li>
				<!-- END l_block1 -->
			</ul>

		</div>

		<div id="subhead-title">
			<h2>{L_MCP} - {PAGE_TITLE}</h2>
		</div>

	</div>
</div>

<div id="wrap-body">
	<div class="chunk">

	<div id="cp-menu">
		<div id="navigation" role="navigation">
			<ul>
			<!-- BEGIN l_block1 -->
			<!-- IF l_block1.S_SELECTED -->
				<!-- BEGIN l_block2 -->
				<!-- IF l_block1.l_block2.S_SELECTED -->
				<li id="active-subsection"><a href="{l_block1.l_block2.U_TITLE}"><span>{l_block1.l_block2.L_TITLE}<!-- IF l_block1.l_block2.ADD_ITEM --> ({l_block1.l_block2.ADD_ITEM})<!-- ENDIF --></span></a></li>
				<!-- ELSE -->
				<li><a href="{l_block1.l_block2.U_TITLE}"><span>{l_block1.l_block2.L_TITLE}<!-- IF l_block1.l_block2.ADD_ITEM --> ({l_block1.l_block2.ADD_ITEM})<!-- ENDIF --></span></a></li>
				<!-- ENDIF -->
				<!-- END l_block2 -->
			<!-- ENDIF -->
			<!-- END l_block1 -->
			</ul>
		</div>
	</div>

	<div id="cp-main" class="mcp-main panel-container">
		<div id="cp-main-inner">
		<!-- IF MESSAGE -->
		<div class="content">
			<h2 class="message-title">{L_MESSAGE}</h2>
			<p class="error">{MESSAGE}</p>
			<p><!-- BEGIN return_links -->{return_links.MESSAGE_LINK}<br /><br /><!-- END return_links --></p>
		</div>
		<!-- ENDIF -->
