<div id="site-footer-area">
	<div class="chunk">
		<div class="grid-3">
			<h5>关于领航</h5>
			<p>墨尔本补习 新的改变</p>
			<p>领航的老师有多年的教学经验，同时领航积累了多年的期末考试题和学霸笔记。知识梳理，串讲，模拟期末考试，历年期末考题精讲，微信讨论群随时答疑。你还在等什么，加入墨尔本已经报名的500多名同学，一起期末冲刺吧</p>
		</div>
		<div class="grid-3">
			<h5>联系方式</h5>
			<ul class="cfooter-contact">
				<li>
					<i class="fa fa-building"></i>
					Level 11, 230 Collins Street, Melbourne, 3000
				</li>
				<li>
					<i class="fa fa-phone"></i>
					9654 3312
				</li>

				<li>
					<i class="fa fa-envelope"></i>
					melb@linghang.education
				</li>
			</ul>
		</div>

		<div class="grid-3">
			<h5>社交媒体</h5>
			<p>你可以通过社交媒体关注我们:</p>
			<ul class="cfooter-social">
				<li>
					<a href="https://www.facebook.com/%E9%A2%86%E8%88%AA%E6%95%99%E8%82%B2-405307569661058/"><i class="fa fa-facebook"></i></a>
				</li>

				<li>
					<a href="#"><i class="fa fa-twitter"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div>
