<!-- INCLUDE overall_header.html -->

<div id="wrap-subhead">
	<div class="chunk">
		<div class="wrap-subhead">
			<ul id="breadcrumbs" role="menubar">
				<li class="font-icon responsive-menu dropdown-container<!-- IF not S_DISPLAY_QUICK_LINKS and not S_DISPLAY_SEARCH --> hidden<!-- ENDIF -->" data-skip-responsive="true">
					<a href="#" class="responsive-menu-link dropdown-trigger"><i class="fa fa-bars"></i></a>
					<div class="dropdown hidden">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<ul class="dropdown-contents" role="menu">
							<!-- EVENT navbar_header_quick_links_before -->

							<!-- IF S_DISPLAY_SEARCH -->
								<li class="separator"></li>
								<!-- IF S_REGISTERED_USER -->
									<li class="font-icon icon-search-self"><a href="{U_SEARCH_SELF}" role="menuitem"><i class="fa fa-history"></i>{L_SEARCH_SELF}</a></li>
								<!-- ENDIF -->
								<!-- IF S_USER_LOGGED_IN -->
									<li class="font-icon icon-search-new"><a href="{U_SEARCH_NEW}" role="menuitem"><i class="fa fa-file-text"></i>{L_SEARCH_NEW}</a></li>
								<!-- ENDIF -->
								<!-- IF S_LOAD_UNREADS --> 
									<li class="font-icon icon-search-unread"><a href="{U_SEARCH_UNREAD}" role="menuitem"><i class="fa fa-file"></i>{L_SEARCH_UNREAD}</a></li>
								<!-- ENDIF -->
								<li class="font-icon icon-search-unanswered"><a href="{U_SEARCH_UNANSWERED}" role="menuitem"><i class="fa fa-file-o"></i>{L_SEARCH_UNANSWERED}</a></li>
								<li class="font-icon icon-search-active"><a href="{U_SEARCH_ACTIVE_TOPICS}" role="menuitem"><i class="fa fa-fire"></i>{L_SEARCH_ACTIVE_TOPICS}</a></li>
							<!-- ENDIF -->
							<li class="separator site-menu"></li>

							<!-- INCLUDE site_menu.html -->

							<!-- EVENT navbar_header_quick_links_after -->
						</ul>
					</div>
				</li>

				<!-- DEFINE $MICRODATA = ' itemtype="http://data-vocabulary.org/Breadcrumb" itemscope=""' -->
				<!-- EVENT overall_header_breadcrumbs_before -->
				<li class="breadcrumbs rightside">
					<!-- IF U_SITE_HOME --><span class="crumb"><a href="{U_SITE_HOME}"{$MICRODATA} data-navbar-reference="home"><i class="fa fa-home"></i><span>{L_SITE_HOME}</span></a></span><!-- ENDIF -->
					<!-- EVENT overall_header_breadcrumb_prepend -->
					<span class="crumb"><a href="{U_INDEX}" accesskey="h"{$MICRODATA} data-navbar-reference="index"><i class="fa fa-home"></i><span>{L_INDEX}</span></a></span>
					<!-- BEGIN navlinks -->
						<!-- EVENT overall_header_navlink_prepend -->
						<span class="crumb"><a href="{navlinks.U_VIEW_FORUM}"{$MICRODATA}<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->>{navlinks.FORUM_NAME}</a></span>
						<!-- EVENT overall_header_navlink_append -->
					<!-- END navlinks -->
					<!-- EVENT overall_header_breadcrumb_append -->
				</li>
				<!-- EVENT overall_header_breadcrumbs_after -->
			</ul>

		</div>

		<div id="<!-- IF MODERATORS -->subhead-title-sm<!-- ELSE -->subhead-title<!-- ENDIF -->">

			<!-- EVENT viewforum_forum_title_before -->

			<h2 class="forum-title"><!-- EVENT viewforum_forum_name_prepend --><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- EVENT viewforum_forum_name_append --></h2>

			<!-- EVENT viewforum_forum_title_after -->

			<!-- IF MODERATORS -->
			<p id="subhead-mods">
				<!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->{L_COLON} {MODERATORS}
			</p>
			<!-- ENDIF -->
		</div>

	</div>
</div>

<div id="wrap-body">
	<div class="chunk">

		<!-- IF S_FORUM_RULES -->
			<div class="rules<!-- IF U_FORUM_RULES --> rules-link<!-- ENDIF -->">
				<div class="inner">

				<!-- IF U_FORUM_RULES -->
					<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
				<!-- ELSE -->
					<strong>{L_FORUM_RULES}</strong><br />
					{FORUM_RULES}
				<!-- ENDIF -->

				</div>
			</div>
		<!-- ENDIF -->

		<!-- IF S_HAS_SUBFORUM -->
		<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
			<div class="action-bar compact">
				<a href="{U_MARK_FORUMS}" class="mark-read rightside" data-ajax="mark_forums_read">{L_MARK_SUBFORUMS_READ}</a>
			</div>
		<!-- ENDIF -->
			<!-- INCLUDE forumlist_body.html -->
		<!-- ENDIF -->

		<!-- IF S_DISPLAY_POST_INFO or .pagination or TOTAL_POSTS or TOTAL_TOPICS -->
			<div class="action-bar top">

			<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
				<div class="buttons">
					<!-- EVENT viewforum_buttons_top_before -->

					<a href="{U_POST_NEW_TOPIC}" class="button font-icon" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->">
						<!-- IF S_IS_LOCKED --><i class="fa fa-lock"></i>{L_BUTTON_FORUM_LOCKED}<!-- ELSE --><i class="fa fa-pencil"></i>{L_BUTTON_NEW_TOPIC}<!-- ENDIF -->
					</a>

					<!-- EVENT viewforum_buttons_top_after -->
				</div>
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_SEARCHBOX -->
				<div class="search-box" role="search">
					<form method="get" id="forum-search" action="{S_SEARCHBOX_ACTION}">
					<fieldset>
						<input class="inputbox search" type="search" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH_FORUM}" />
						<button class="button" type="submit" title="{L_SEARCH}"><i class="fa fa-search"></i></button>
						{S_SEARCH_LOCAL_HIDDEN_FIELDS}
					</fieldset>
					</form>
				</div>
			<!-- ENDIF -->

			<div class="pagination">
				<!-- IF not S_IS_BOT and U_MARK_TOPICS and .topicrow --><a href="{U_MARK_TOPICS}" class="mark" accesskey="m" data-ajax="mark_topics_read">{L_MARK_TOPICS_READ}</a> &bull; <!-- ENDIF -->
				{TOTAL_TOPICS}
				<!-- IF .pagination -->
					<!-- INCLUDE pagination.html -->
				<!-- ELSE -->
					&bull; {PAGE_NUMBER}
				<!-- ENDIF -->
			</div>

			</div>
		<!-- ENDIF -->

		<!-- IF S_NO_READ_ACCESS -->

			<div class="panel">
				<div class="inner">
				<strong>{L_NO_READ_ACCESS}</strong>
				</div>
			</div>

			<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

				<form action="{S_LOGIN_ACTION}" method="post">

				<div class="panel">
					<div class="inner">

					<div class="content">
						<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>

						<fieldset class="fields1">
						<dl>
							<dt><label for="username">{L_USERNAME}{L_COLON}</label></dt>
							<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
						</dl>
						<dl>
							<dt><label for="password">{L_PASSWORD}{L_COLON}</label></dt>
							<dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" autocomplete="off" /></dd>
							<!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
							<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="4" /> {L_HIDE_ME}</label></dd>
						</dl>
						<dl>
							<dt>&nbsp;</dt>
							<dd><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="button1" /></dd>
						</dl>
						{S_LOGIN_REDIRECT}
						</fieldset>
					</div>

					</div>
				</div>

				</form>

			<!-- ENDIF -->

		<!-- ENDIF -->

		<!-- BEGIN topicrow -->

			<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
				</ul>
				</div>
			</div>
			<!-- ENDIF -->

			<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
				<div class="forumbg<!-- IF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) --> announcement<!-- ENDIF -->">
				<div class="inner">
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt<!-- IF S_DISPLAY_ACTIVE --> id="active_topics"<!-- ENDIF -->><div class="list-inner"><!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) -->{L_ANNOUNCEMENTS}<!-- ELSE -->{L_TOPICS}<!-- ENDIF --></div></dt>
							<dd class="posts">{L_REPLIES}</dd>
							<dd class="views">{L_VIEWS}</dd>
							<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist topics">
			<!-- ENDIF -->

				<li class="row<!-- IF topicrow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF topicrow.S_POST_GLOBAL --> global-announce<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
					<dl class="icon {topicrow.TOPIC_IMG_STYLE}">
						<dt<!-- IF topicrow.TOPIC_ICON_IMG and S_TOPIC_ICONS --> style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
							<!-- IF topicrow.S_UNREAD_TOPIC and not S_IS_BOT --><a href="{topicrow.U_NEWEST_POST}" class="icon-link"></a><!-- ENDIF -->
							<div class="list-inner">
								<!-- EVENT topiclist_row_prepend -->
								<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}" class="posts-approve"><i class="fa fa-gavel"></i></a></a><!-- ENDIF --><!-- IF topicrow.S_TOPIC_DELETED --><a href="{topicrow.U_MCP_QUEUE}" class="posts-approve"><i class="fa fa-recycle"></i></a><!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}" class="posts-approve"><i class="fa fa-exclamation-triangle"></i></a><!-- ENDIF --><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a><br />

								<!-- IF topicrow.S_HAS_POLL --><span class="topic-ap"><i class="fa fa-tasks"></i></span><!-- ENDIF --><!-- IF topicrow.ATTACH_ICON_IMG --><span class="topic-ap"><i class="fa fa-floppy-o"></i></span><!-- ENDIF -->{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}<!-- IF topicrow.S_POST_GLOBAL and FORUM_ID != topicrow.FORUM_ID --> &raquo; {L_IN} <a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a><!-- ENDIF --><!-- IF .topicrow.pagination --><div class="pagination">
									<ul>
									<!-- BEGIN pagination --><!-- IF topicrow.pagination.S_IS_PREV --><!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><li class="active"><span>{topicrow.pagination.PAGE_NUMBER}</span></li><!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --><li class="ellipsis"><span>{L_ELLIPSIS}</span></li><!-- ELSEIF topicrow.pagination.S_IS_NEXT --><!-- ELSE --><li><a href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a></li><!-- ENDIF --><!-- END pagination -->
									</ul>
								</div>
								<!-- ENDIF -->

								<!-- IF not S_IS_BOT -->
								<div class="r-lastpost-container">
									<a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}" class="r-lastpost"><i class="fa fa-angle-right"></i></a>
								</div>
								<!-- IF topicrow.REPLIES --><span class="responsive-show left-box" style="display: none;">{L_REPLIES}{L_COLON} <strong>{topicrow.REPLIES}</strong></span><!-- ENDIF -->
								<!-- ENDIF -->

								<!-- EVENT topiclist_row_append -->
							</div>
						</dt>
						<dd class="posts">{topicrow.REPLIES} <dfn>{L_REPLIES}</dfn></dd>
						<dd class="views">{topicrow.VIEWS} <dfn>{L_VIEWS}</dfn></dd>
						<dd class="lastpost"><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
							<!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}" class="lastpost-last"><i class="fa fa-arrow-{S_CONTENT_FLOW_END}"></i></a> <!-- ENDIF --><br />{topicrow.LAST_POST_TIME}</span>
						</dd>
					</dl>
				</li>

			<!-- IF topicrow.S_LAST_ROW -->
					</ul>
				</div>
			</div>
			<!-- ENDIF -->

		<!-- BEGINELSE -->
			<!-- IF S_IS_POSTABLE -->
			<div class="panel">
				<div class="inner">
				<strong>{L_NO_TOPICS}</strong>
				</div>
			</div>
			<!-- ENDIF -->
		<!-- END topicrow -->

		<!-- IF S_SELECT_SORT_DAYS and not S_DISPLAY_ACTIVE -->
			<form method="post" action="{S_FORUM_ACTION}">
				<fieldset class="display-options">
			<!-- IF not S_IS_BOT -->
					<label>{L_DISPLAY_TOPICS}{L_COLON} {S_SELECT_SORT_DAYS}</label>
					<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
					<label>{S_SELECT_SORT_DIR}</label>
					<input type="submit" name="sort" value="{L_GO}" class="button2" />
			<!-- ENDIF -->
				</fieldset>
			</form>
		<!-- ENDIF -->

		<!-- IF .topicrow and not S_DISPLAY_ACTIVE -->
			<div class="action-bar bottom">
				<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
					<div class="buttons">
						<!-- EVENT viewforum_buttons_bottom_before -->

						<a href="{U_POST_NEW_TOPIC}" class="button font-icon" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->">
							<!-- IF S_IS_LOCKED --><i class="fa fa-lock"></i>{L_BUTTON_FORUM_LOCKED}<!-- ELSE --><i class="fa fa-pencil"></i>{L_BUTTON_NEW_TOPIC}<!-- ENDIF -->
						</a>

						<!-- EVENT viewforum_buttons_bottom_after -->
					</div>
				<!-- ENDIF -->

				<div class="pagination">
					<!-- IF not S_IS_BOT and U_MARK_TOPICS and .topicrow --><a href="{U_MARK_TOPICS}" data-ajax="mark_topics_read">{L_MARK_TOPICS_READ}</a> &bull; <!-- ENDIF -->
					{TOTAL_TOPICS}
					<!-- IF .pagination -->
						<!-- INCLUDE pagination.html -->
					<!-- ELSE -->
						 &bull; {PAGE_NUMBER}
					<!-- ENDIF -->
				</div>
			</div>
		<!-- ENDIF -->

		<!-- INCLUDE jumpbox.html -->

		<!-- IF S_DISPLAY_ONLINE_LIST -->
			<div class="stat-block online-list">
				<h3><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
				<p>{LOGGED_IN_USER_LIST}</p>
			</div>
		<!-- ENDIF -->

		<!-- IF S_DISPLAY_POST_INFO -->
			<div class="stat-block permissions">
				<h3>{L_FORUM_PERMISSIONS}</h3>
				<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
			</div>
		<!-- ENDIF -->

	</div>
</div>

<!-- INCLUDE overall_footer.html -->
